.article {
  padding: 10px;
  background-color: black;
  display: inline-block;
  width: 40%;
}

.title {
  margin: 5px;
  text-align: left;
  color: white;
  /*background-color: #112211;*/
}

.context {
  margin: 5px;
  text-align: left;
  color: white;
  /*background-color: green;*/
}
